
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: italic;
}

header {
    background-color: #333;
    padding: 30px;
    color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h1 {
    margin: 0;
    font-size: 1.5em;
}

#navMenu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

#navMenu li a {
    color: white;
    text-decoration: none;
}

#navMenu li a:hover{
    color: rgb(45, 44, 44);
    text-decoration: none;
    background-color: #8d8a8a;
    padding: 10px;
    border-radius: 10px;
}


/* Hamburger button styles */
#hamburger {
    display: none;
    background: none;
    border: none;
    color: white;
    font-size: 2em;
    cursor: pointer;
}

.hamburger-icon::before {
    content: '☰';
}

.hamburger-icon.close::before {
    content: '✖';
}


main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f4f4;
    text-align: center;
}

main h1 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #333;
}


.gallery {
    display: grid;
    gap: 20px;
}

.gallery {
    grid-template-columns: 1fr;
}
